<h2>
    {% if loop is defined %}{{ loop.revindex }} - {% endif %}<a href="{{ path('article_show', {
        slug: article.title|slug|lower
    }) }}">
        {{ article.title }}
    </a>
</h2>
<span>Publié le {{ article.createdAt | article_date() }}</span>
<p>
    {% for tag in article.tags %}
        <a href="{{ path('tag_show', {slug: tag.slug}) }}">{{ tag.name|title }}</a>
    {% endfor %}
</p>
<p>
    {{ article.content|nl2br }}
</p>